# API Access token
ACCESS_TOKEN=<api_access_token>

aws-access-key-id=<your_aws_access_key>
aws-secret-access-key=<your_aws_secret_access_key>
aws-region=<your_aws_region>
dynamodb-region=<your_aws_dynamodb_region>